
img {
    width: 150px;
    height: 100px;
}

.card {
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-right: 40px;
    box-shadow: 5px 5px 10px #22222270;
}

.card-bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    align-items: center;
    padding: 10px;
}


.card-item {
    padding: 10px;
}





