.app {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.nav p {
  font-size: 26px;
  font-weight: 600;
  color: #000;
  padding: 10px;
  border: 2px solid #000;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #c5c5c5;
  color: #555;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 10px;
  font-size: 18px;
  width: 250px;
  height: 10px;
}


.cont-list h2 {
  text-align: center;
  font-size: 32px;
  padding: 10px;
  background-color: #c5c5c5;
}

.Form h2 {
  text-align: center;
  font-size: 28px;
}

form input, form select {
  font-size: 18px;
  width: 260px;
  height: 30px;
  margin: 10px;
  margin-right: 27px;
  margin-bottom: 20px;
}

form button {
  background-color: #333974;
  color: #fff;
  padding: 15px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;  
}

form button:hover{
  opacity: 1;
}

.card-texto button {
  background-color: #d8130d;
  color: #fff;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: .7;
  transition: .3s;
}
.card-texto button:hover {
  opacity: 1;
}


.card-texto button i {
  padding: 5px 15px;
  text-align: center;
}




